.services1 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.services1 img {
    width: 50%;
}

.services1 div {
    width: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: start;
}

.services1 div h2 {
    color: #23313b;
    font-size: 50px;
    font-family: "Fraunces", serif;
}

.services1 div p {
    font-family: "Barlow", sans-serif;
    font-size: 15px;
    color: #8b8994;
}

.services1 div button {
    color: #23313b;
    font-size: 20px;
    font-weight: bold;
    font-family: "Fraunces", serif;
    text-transform: uppercase;
}

@media(min-width: 0px){
    .services1 {
        flex-direction: column;
    }
    .services1 img {
        width: 100%;
    }
    
    .services1 div {
        width: 100%;
        align-items: center;
        text-align: center;
    }
    .services1 div h2 {
        line-height: 1;
    }
    .services1 div p {
        line-height: 1.6;
    }
}


@media(min-width: 900px){
    .services1 {
        flex-direction: row-reverse;
    }
    .services1 img {
        width: 50%;
    }
    
    .services1 div {
        width: 50%;
        align-items: start;
        text-align: left;
    }
    .services1 div h2 {
        line-height: 1.4;
    }
    .services1 div p {
        line-height: 1;
    }
}